<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="import :: head_js"></div>
</head>
<body>
    <div th:replace="bar :: top_nav"></div>
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <h3><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 发现</h3>
                <ul class="nav nav-tabs">
                    <li role="presentation" th:class="active">
                        <a th:href="@{/(sort='new')}">最新</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                ddd
            </div>
        </div>
    </div>
    <div th:replace="import :: footer_js"></div>
</body>
</html>