<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>Login</title>

    <link href="css/springboot2/style.css" rel="stylesheet">
    <link href="css/springboot2/style-responsive.css" rel="stylesheet">
    <link href="js/plugins/toast/css/jquery.toast.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <script src="js/jquery-1.10.2.min.js"></script>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>

    <![endif]-->
<!--    <script src="js/login.js" type="text/javascript"></script>-->
    <script src="js/app.js"></script>
    <script src="js/plugins/toast/js/jquery.toast.min.js"></script>
</head>

<body class="login-body">

<div class="container">

    <div class="form-signin">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">Sign In</h1>
            <img src="images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <input type="text" id="userName" name="userName" value="123456" class="form-control" placeholder="User ID" autofocus>
            <input type="password" id="userPass" name="userPassword" value="123456" class="form-control" placeholder="Password">

            <button class="btn btn-lg btn-login btn-block" id="user-login" type="button" >
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                Not a member yet?
                <a class="" th:href="@{/register}">
                    Signup
                </a>
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#myModal"> Forgot Password?</a>

                </span>
            </label>

        </div>

        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>请输入账号</p>
                        <input type="text" name="userName" id="forgetUserName" placeholder="账号" autocomplete="off" class="form-control placeholder-no-fix">
                        <p>请输入邮箱号</p>
                        <input type="text" name="email" id="email" placeholder="邮箱号" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-primary" id="forgetPassword" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </div>

</div>
<!-- Placed js at the end of the document so the pages load faster -->


<script type="text/javascript">
    $('#forgetPassword').click(function () {
        const email = $('#email').val();
        const forgetUserName = $('#forgetUserName').val();
        $('#forgetPassword').button('loading');
        if (email == null || email == "" || forgetUserName == "" || forgetUserName == null) {
            showMsg("请输入完整信息", "error", 1000);
            $('#forgetPassword').button('reset');
        }else{
            $.ajax({
                type:'POST',
                url:'/userForget',
                async:false,
                data:{
                    'email':email,
                    'forgetUserName':forgetUserName
                },
                success: function (data){
                    if(data.code == 1){
                        showMsg(data.msg, "success", 2000);
                        $("#forgetPassword").attr("data-dismiss","modal");
                    }else {
                        showMsg(data.msg, "error", 1000);
                        $('#forgetPassword').button('reset');
                    }

                }
            });
        }
    });

</script>
<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/login.js" type="text/javascript"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/springboot2/modernizr.min.js"></script>

</body>
</html>
