<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="import :: head_js"></div>
    <div th:insert="import :: markdown"></div>
</head>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div th:replace="bar :: top_menu"></div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="bar :: sider_menu"></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="display: inline-block">发布文章</h1>
                        <ol class="breadcrumb" style="display: inline" >
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Library</a></li>
                            <li class="active">Data</li>
                        </ol>
                    </div>
                    <div class="panel-body">
                        <form action="@{/publish}" method="post">
                            <div class="form-group">
                                <label for="title">问题标题（简单扼要）:</label>
                                <input type="text" class="form-control" th:value="${title}" id="title" name="title"
                                       placeholder="问题标题……"
                                       autocomplete="off">
                            </div>
                            <label for="description">问题补充 (必填，请参照右侧提示):</label>
                            <div class="form-group" id="question-editor">
                                <textarea name="description" id="description" th:text="${description}" style="display:none;"
                                          class="form-control"
                                          cols="30"
                                          rows="10"></textarea>
                            </div>
                            <script type="text/javascript">
                                $(function () {
                                    var editor = editormd("question-editor", {
                                        width: "100%",
                                        height: 700,
                                        path: "/js/lib/",
                                        delay: 0,
                                        watch: false,
                                        placeholder: "请输入问题描述",
                                        imageUpload: true,
                                        imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                                        imageUploadURL: "/file/upload",
                                    });
                                });
                            </script>

                        </form>
                    </div>
                </div>
            </div>
    </div>

    <div th:replace="import :: footer_js"></div>
</div>
</body>
</html>