<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="import :: head_js"></div>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div th:replace="bar :: top_menu"></div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div th:replace="bar :: sider_menu"></div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1 class="panel-title" style="display: inline-block">发布文章</h1>
                        <ol class="breadcrumb" style="display: inline" >
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Library</a></li>
                            <li class="active">Data</li>
                        </ol>
                    </div>
                    <div class="panel-body">
                        <form action="@{/publish}" method="post">


                        </form>
                    </div>
                </div>
            </div>
    </div>

    <div th:replace="import :: footer_js"></div>
</div>
</body>
</html>