<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="import :: head_js"></div>
    <div th:replace="import :: markdown"></div>
    <link rel="stylesheet" href="/static/css/front/css/style.css?version=2.0">
<!--    <link rel="stylesheet" href="/static/css/front/css/main.css">-->
<!--    <link rel="stylesheet" href="/static/css/front/css/jsmodern-1.1.1.min.css">-->

</head>
<body>
<div id="question-view">
    <textarea style="display:none;" th:text="${post.getPostContent()}"></textarea>
</div>
<script type="text/javascript">
    $(function () {
        editormd.markdownToHTML("question-view", {});
    });
</script>
<div th:replace="import :: footer_js"></div>
<!--Calendar-->
<!--<script src="/static/css/front/js/bundle.js"></script>-->
<!--<script src="/static/css/front/js/jsmodern-1.1.1.min.js"></script>-->
<!--<link rel="stylesheet" href="https://oss.liuyanzhao.com/static/ChuyunBlog/static/front/css/highlight.css">-->
<!--<link rel="stylesheet" href="https://oss.liuyanzhao.com/static/ChuyunBlog/static/front/css/prettify.css">-->
<!--<script src="https://oss.liuyanzhao.com/static/ChuyunBlog/static/front/js/highlight.js"></script>-->
<!--<script src="https://oss.liuyanzhao.com/static/ChuyunBlog/static/front/js/prettify.js"></script>-->
</body>
</html>