<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bbs.mapper.UserMapper">

    <resultMap id="resultUsers" type="com.example.bbs.entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_age" property="userAge"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_interest" property="userInterest"/>
        <result column="user_birthday" property="userBirthday"/>
        <result column="user_image" property="userImage"/>
        <result column="user_status" property="userStatus"/>
        <result column="user_email" property="userEmail"/>
        <result column="user_create_time" property="userCreateTime"/>
        <result column="user_display_name" property="userDisplayName"/>
    </resultMap>

    <sql id="Base_User_Info">
        user_id,user_name,user_password,user_age,user_sex,user_interest
        ,user_birthday,user_image,user_status,user_email,user_create_time,user_display_name
    </sql>

    <select id="listUsers" resultMap="resultUsers" >
        select <include refid="Base_User_Info"/> from user
    </select>

    <select id="selectByUserNameAndUserPassword" parameterType="Map" resultMap="resultUsers">
        select <include refid="Base_User_Info"></include>
        from user 
        <where>
            <if test="p.userName!=null and p.userName != ''">
                user_name = #{p.userName}
            </if>
            <if test="p.userPassword != null and p.userPassword != ''">
                and user_password = #{p.userPassword}
            </if>
        </where>
    </select>

    <select id="selectByUserName" parameterType="String" resultMap="resultUsers">
        select <include refid="Base_User_Info"></include>
        from user
        <where>
            <if test="userName != null and userName != ''">
                user_name = #{userName}
            </if>
        </where>
    </select>

    <select id="updateUserPasswordByUserId" resultMap="resultUsers">
        update user set user_password = #{newPassword}
        <where>
         user_id= #{userId}
        </where>
    </select>
    <select id="calculateAmount" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="postQueryCondition.keywords != null and postQueryCondition.keywords != ''">
                ${postQueryCondition.searchType} like CONCAT('%', #{postQueryCondition.keywords},'%')
            </if>
            <if test="postQueryCondition.sort != null and postQueryCondition.sort != 'none'">
                AND user_status = ${postQueryCondition.sort}
            </if>
        </where>

    </select>
    <select id="listUser" resultMap="resultUsers">
        select <include refid="Base_User_Info"></include> from user
        <where>
            <if test="postQueryCondition.keywords != null and postQueryCondition.keywords != ''">
                ${postQueryCondition.searchType} like CONCAT('%', #{postQueryCondition.keywords},'%')
            </if>
            <if test="postQueryCondition.sort != null and postQueryCondition.sort != 'none'">
                AND user_status = ${postQueryCondition.sort}
            </if>
        </where>
        limit #{offset}, #{pageSize}
    </select>
</mapper>
